{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main{% endblock %}

{% block body %}
    <!-- Main Menu -->
    {% include 'parts/ingame_mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content" class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <!-- Sidebar -->
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <!-- Main Content -->
                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <h3>Willkommen zurück {{ user.username }} </h3>
                                {{ dump(planets) }}
                                {{ planets.0.id }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-12">
                                <div class="col-lg-12 build"><strong>Bau</strong>:</div>
                                <div class="col-lg-12 science"><strong>Forschung</strong>:</div>
                                <div class="col-lg-12 fleet mb-3"><strong>Flotte</strong>:</div>
                            </div>
                            <div class="col-lg-7 col-md-12" style="background: url({{ asset('img/'~planetData.0.image) }}); height: 510px;">
                                <div class="planetData">
                                    <div class="">Größe: {{ planetData.0.diameter|number_format(0,',','.') }} km &Oslash;</div>
                                    <div class="">Temperatur: {{ planetData.0.tempMin }}°C / {{ planetData.0.tempMax }}°C</div>
                                    <div class="">Durchmesser: {{ planetData.0.fields }}/{{ planetData.0.fieldsMax }} Felder</div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </section>

    {% include 'parts/footer.html.twig' %}
{% endblock %}


