{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main{% endblock %}

{% block body %}
    <!-- Main Menu -->

    {% include 'parts/ingame_mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content" class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-6 mt-1">
                                <h3>Du benötigst Hilfe, {{ user.username }} ? Schreib uns fix an.</h3>
                                <span>Schau bitte auch im <a href="#" target="_blank">Forum</a>, vielleicht ist dein Anliegen dort bereits bekannt.</span>
                            </div>
                            <div class="col-lg-6">
                                <select name="planet" class="form-control planet-switcher-select">
                                    {% for planet in planets %}

                                        <option
                                                value="{{ planet.slug }}"
                                                style="color: #000;"
                                                {{ planet.slug == slug ? 'selected' : '' }}
                                        >
                                            {{ planet.name }}
                                            {{ planet.systemX }}:{{ planet.systemY }}:{{ planet.systemZ }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="container-fluid mt-3">
                            <div class="buildings">
                                {% for notice in app.flashes('success') %}
                                    <div class="col-lg-3 alert alert-success" role="alert">
                                        {{ notice }}
                                    </div>
                                {% endfor %}

                                <div class="col-12">
                                    {% for ticket in tickets %}
                                        <div class="ticket" data-ticket="{{ ticket.id }}">
                                            <div class="ticket-headline">
                                                <div class="ticket-headline-badge ticket-headline-{{ ticket.theme|lower }}"></div>
                                                <div class="ticket-subject">
                                                    {{ ticket.subject }} vom ( {{ ticket.datum|date('d.m.Y H:i') }} )
                                                </div>
                                                <div class="ticket-options">
                                                    <form action="{{ path('ticket_close', {ticketId: ticket.id, slug: slug}) }}"
                                                          method="post">
                                                        <button type="submit" class="btn btn-sm btn-danger">Schließen
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="message ticket-body-{{ ticket.id }}">
                                                <p>{{ ticket.message }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <hr/>
                                </div>


                                <div class="col-12">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    {% include 'parts/footer.html.twig' %}
{% endblock %}


