{% extends 'base.html.twig' %}
{% trans_default_domain 'buildings' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/buildings.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Space-Tactics Main{% endblock %}
{% block body %}

    {% include 'parts/ingame_mainmenu.html.twig' %}
    <section id="content" class="main buildings-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>
                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 mt-1">
                                        <h3>{{ user.username }}, du befindest dich im Baumenü für: </h3>
                                    </div>
                                    <div class="col-lg-6">
                                        <select name="planet" class="form-control planet-switcher-select">
                                            {% for planet in planets %}

                                                <option
                                                        value="{{ planet.slug }}"
                                                        style="color: #000;"
                                                        {{ planet.slug == slug ? 'selected' : '' }}
                                                >
                                                    {{ planet.name }}
                                                    [{{ planet.system_x }}:{{ planet.system_y }}:{{ planet.system_z }}]
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">

                            <div class="buildings">
                                {% for building in buildings %}
                                    {% set image = 'img/buildings/'~building.image %}
                                    <div class="building">
                                        <div class="building-headline">
                                            {{ building.type|trans({},'buildings') }} - Level: {{ building.level }}

                                            <a href="#" title="{{ 'recycle'|trans({},'buildings') }}">x</a>

                                        </div>
                                        <div class="building-content">
                                            <div class="col-6 building-image">
                                                <img src="{{ asset(image) }}" alt="Planet image"/>
                                            </div>
                                            <div class="col-6 building-specs">
                                                {% set nextLevel = building.level + 1 %}
                                                <div>{{ 'production'|trans({},'ui') }}: {{ building.production }}</div>
                                                <h4> {{ 'costs'|trans({},'ui') }} {{ 'stage'|trans({},'ui') }} {{ nextLevel }}
                                                    :</h4>
                                                <div class="metal">{{ 'metal'|trans({},'resources') }}
                                                    : {{ building.price.metal }}</div>
                                                <div class="crystal">{{ 'crystal'|trans({},'resources') }}
                                                    : {{ building.price.crystal }}</div>
                                                <div class="deuterium">{{ 'deuterium'|trans({},'resources') }}
                                                    : {{ building.price.deuterium }}</div>
                                            </div>
                                        </div>
                                        <div class="col-12 building-button mt-1">
                                            <button type="button"
                                                    class="btn btn-light">{{ 'upgrade_to'|trans({},'buildings') }} {{ nextLevel }} </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    {% include 'parts/footer.html.twig' %}
{% endblock %}
