{% extends 'base.html.twig' %}
{% block sidebar %}
    <section>
        <header>
            <h2>
                Menu
                {% if app.user.roles.0 == 'ROLE_ADMIN' %}
                    <span class="hint"><a href="{{ path('admin') }}">Admin</a></span>
                {%  endif %}
            </h2>
        </header>
        <ul class="link-list">
            <li><a href="{{ path('main', {'slug': slug}) }}">Home</a></li>
            <li><a href="{{ path('buildings', {'slug':slug}) }}">Gebäude</a></li>
            <li><a href="{{ path('science', {'slug': slug}) }}">Forschung</a></li>
            <li><a href="#">Schiffswerft</a></li>
            <li><a href="#">Verteidigung</a></li>
            <li><a href="#">Offiziere</a></li>
            <li><a href="#">Schrotthändler</a></li>
            <li><a href="#">Flotte</a></li>
            <li><a href="#">Produktion</a></li>
            <li><a href="#">Galaxie</a></li>
            <li><a href="#">Allianz</a></li>
            <li><a href="#">Statistik</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="{{ path('rules') }}">Regeln</a></li>
            <li><a href="#">Simulation</a></li>
            <li><a href="#">Notizen</a></li>
            <li><a href="/forum">Forum</a></li>
        </ul>
    </section>
{% endblock %}